* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: white;
}

.logo {
    color: black;
    cursor: pointer;
    margin-right: auto;
}

li, a, button {
    font-weight: 500;
    font-size: 16px;
    color: black;
    text-decoration: none;
}

header{
      display: flex;
      justify-content: flex-end;
      align-items: center;
      padding: 30px 10%;
}

.nav-link {
    list-style: none;
}

.nav-link li {
    display: inline-block;
    padding: 0px 20px;
}

.nav-link li a {
    transition: all 0.3s ease 0s;
}

.nav-link li a:hover {
    color: blue;
}

button {
    padding: 9px 25px;
    background-color: rgba(0, 136, 139, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover {
    background-color: rgba(0, 136, 169, 0.8);
}

.house-list {
    padding: 5px;
    background-color: #eee;
    padding: 30px 10%;

}

.house-list h2 {
    background-color: #eee;
}

.house-list > h2,
.house-data {
    margin: 8px;
    padding: 5px;
    font-size: 1.2rem;
   
}

.house-data {
    padding: 9px 25px;
    border-radius: 10px;
    background: white;
    display: flex;
    justify-content: flex-end;
}

.house-name{
    font-size: 16px;
    margin-right: auto;
    padding: 5px;
}

