* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: white;
}

.logo {
    color: black;
    cursor: pointer;
    margin-right: auto;
}

li, a, button {
    font-weight: 500;
    font-size: 16px;
    color: black;
    text-decoration: none;
}

header{
      display: flex;
      justify-content: flex-end;
      align-items: center;
      padding: 30px 10%;
}

.nav-link {
    list-style: none;
}

.nav-link li {
    display: inline-block;
    padding: 0px 20px;
}

.nav-link li a {
    transition: all 0.3s ease 0s;
}

.nav-link li a:hover {
    color: rgba(0, 136, 139, 1);
}

button {
    padding: 9px 25px;
    background-color: rgba(0, 136, 139, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover {
    background-color: rgba(0, 136, 169, 0.8);
}

.filter-title, .filter-price{
    margin: 8px;
    padding: 5px;
    font-size: 1rem;
    background-color: #eee;
}

.filter-price button{
    padding: 4px 20px;

}
.house-list {
    background-color: #eee;
    padding: 30px 10%;

}

.house-list h2 {
    background-color: #eee;
}

.house-list > h2, 
.house-data {
    margin: 8px;
    padding: 5px;
    font-size: 1.2rem;
   
}

.house-wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; 
    background:#eee;
}

article {
    background:#eee;    
}
.house-data {
    padding: 9px 25px;
    border-radius: 10px;
    background: white;   
    display: block;
}

.house-name, .house-address, .house-school, .house-description, .house-price{
    margin-right: auto;
    padding: 5px;
}

.house-name{
    font-size: 20px;
}
.house-address, .house-school, .house-amenities{
    font-size: 16px;
}
.house-description {
    font-size: 12px;
    padding: 3px;
}

.house-price{
    font-size: 15px;
    width: 100%;
}

/* filter styles */
#filters{
    display: flex;
    flex-direction: row;
    justify-content: baseline;    
}

